/*
======================================
    [ TEMPLATE ]
======================================

    CSS     :   reset.css
    Template:   Portfolio | Ramesh
    Category:   Portfolio
    Author  :   Ramesh
    Version :   1.0

    Design and Developed by: Ramesh

======================================
    [ END TEMPLATE ]
======================================
*/

/*
======================================
    [ CSS TABLE OF CONTENTS ]
======================================

    [ Table of Contents ] [ RESET ]

    [ BASE STYLE ]
    1. General Styles
    2. Selection Style
    3. Scrollbar Style         

======================================
    [ END CSS TABLE OF CONTENTS ]
======================================
*/

/*
======================================
    [ BASE STYLES START ]
======================================
*/

/* -------[ GENERAL STYLES ]------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); /* Importing the Inter font from Google Fonts */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}


/* -------[ SELECTION STYLE ]------- */
    ::selection {
        background: #333; /* Dark gray background for selected text */
        color: #fff; /* White text color for contrast */
    }


/* -------[ SCROLLBAR STYLES ]------- */
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: #333; 
    }

    ::-webkit-scrollbar-thumb {
        background: #666; 
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #666 #333;
    }

    body {
        -ms-overflow-style: none;
    }

/* -------[  ]------- */


/* -------[  ]------- */


/* -------[  ]------- */

/*
======================================
    [ BASE STYLES END ]
======================================
*/