/*
======================================
    [ TEMPLATE ]
======================================

    CSS     :   reset.css
    Template:   Portfolio | Ramesh
    Category:   Portfolio
    Author  :   Ramesh
    Version :   1.0

    Design and Developed by: Ramesh

======================================
    [ END TEMPLATE ]
======================================
*/

/*
======================================
    [ CSS TABLE OF CONTENTS ]
======================================

    [ Table of Contents ] [ RESET ]

    [ BASE STYLE ]
    1. General Styles
    2. Selection Style
    3. Scrollbar Style         

======================================
    [ END CSS TABLE OF CONTENTS ]
======================================
*/

/*
======================================
    [ BASE STYLES START ]
======================================
*/

/* -------[ GENERAL STYLES ]------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); /* Importing the Inter font from Google Fonts */

:root {
    --background-color: #fff;
    --text-color: #000;
    --selection-background: #333;
    --selection-color: #fff;
    --scrollbar-track-color: #333;
    --scrollbar-thumb-color: #666;
    --scrollbar-thumb-hover-color: #888;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* -------[ SELECTION STYLE ]------- */
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

/* -------[ SCROLLBAR STYLES ]------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
    -ms-overflow-style: none;
}

/* -------[ DARK MODE STYLES ]------- */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --selection-background: #575757;
        --selection-color: #fff;
        --scrollbar-track-color: #222;
        --scrollbar-thumb-color: #444;
        --scrollbar-thumb-hover-color: #666;
    }
}

/* -------[  ]------- */


/* -------[  ]------- */


/* -------[  ]------- */

/*
======================================
    [ BASE STYLES END ]
======================================
*/