/* -------[ GLOBAL STYLES ]------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); /* Importing the Inter font from Google Fonts */

/* -------[ SELECTION STYLE ]------- */
::selection {
    background: #626262;
    color: #ffffff;
}   

/* -------[ DARK MODE STYLES ]------- */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --selection-background: #575757;
        --selection-color: #fff;
        --scrollbar-track-color: #222;
        --scrollbar-thumb-color: #444;
        --scrollbar-thumb-hover-color: #666;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/curve-up.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}
body.loaded {
    opacity: 1;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 0.20rem;
    font-weight: 100;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    margin: 40px auto;
    transition: transform 0.3s ease, 
                background-color 0.3s ease,
                border 0.3s ease,
                box-shadow 0.3s ease;
}
form:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #575757;
    font-size: 1em;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #575757;
    resize: none;
}

textarea {
    height: 80px;
}

.submit-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    padding: 15px 30px;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s, transform 0.3s, box-shadow 0.5s;
    border: 1px solid #ddd;
}

.submit-button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: opacity 0.5s, right 0.5s;
}

.submit-button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: inset 0 0 0 1px black;
}

.submit-button:hover:after {
    opacity: 1;
    right: 10px;
}

.submit-button span {
    display: inline-block;
    transition: transform 0.5s;
}

.submit-button:hover span {
    transform: translateX(-10px);
}

/* -------[ HEADER STYLES ]------- */

.header-bg {
    background-image: url(/assets/images/curve1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 13px;
    mix-blend-mode: difference;
    letter-spacing: 0.15rem;
    font-weight: 100;
}

/* -------[ LOGO STYLES ]------- */

header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
}

header .logo img {
    height: 35px;
    mix-blend-mode: difference;
}

/* -------[ NAVIGATION STYLES ]------- */

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: color 0.4s, background-color 0.4s;
    mix-blend-mode: difference;
}

header nav ul li a:hover,
header nav ul li a.active {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    mix-blend-mode: normal;
}

/* -------[ RESPONSIVE STYLES ]------- */

@media (max-width: 1024px) {
    header {
        padding: 15px;
    }

    header .logo img {
        height: 35px;
    }

    header nav ul {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    header .logo img {
        height: 30px;
    }

    header nav ul {
        gap: 15px;
    }

    form {
        margin: 20px;
        padding: 20px;
        max-width: 100%;
    }
}

/* -------[ FOOTER SECTION START ]------- */

footer {
    position: relative;
    text-align: center;
    padding: 20px;
    background: #000000;
    color: #B0B0B0;
    overflow: hidden;
    font-size: 11px;
    border-top: 3px solid #ffffff;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0 0 20px;
    z-index: 1;
    position: relative;
}

.footer-links li {
    margin: 0;
}

.footer-links li a {
    text-decoration: none;
    color: #B0B0B0;
    letter-spacing: 2px;
    font-size: 12px;
}

footer p {
    margin: 0;
    z-index: 1;
    position: relative;
}

.footer-links li a:hover {
    color: #ffffff;
}

/* -------[ SOCIAL ICON ]------- */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.social-icons a {
    text-decoration: none;
    position: relative;
    width: 26px;
    height: 26px;
}

.social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-icons img {
    filter: grayscale(100%) brightness(0.7) contrast(1);
}

.social-icons a:hover img {
    filter: grayscale(0%) brightness(1) contrast(1);
}

/* -------[ FOOTER SECTION END ]------- */