/*
======================================
    [ TEMPLATE ]
======================================

    CSS File:   styles.css
    Template:   PortFolio | Ramesh
    Category:   PortFolio Styles
    Author:     Ramesh
    Version:    1.0
    
    Design and Developed by: Ramesh

======================================
    [ END TEMPLATE ]
======================================
*/

/*
======================================
    [ CSS TABLE OF CONTENTS ]
======================================

    [ Table of Contents ] [ HEADER STYLES ]

    1. Header
    2. Logo
    3. Navigation

    [ RESUME STYLES ]
    4. Container and Card
    5. Card Header
    6. Sections and Headings
    7. Project Summary
    8. GitHub Icon

    [ TOOL GRID STYLES ]
    9. Tool Grid

    [ ACADEMIC TABLE STYLES ]
    10. Academic Table

    [ SELECTION AND SCROLLBAR STYLES ]
    11. Selection Style
    12. Scrollbar Styles

    [ DARK MODE STYLES ]
    13. Dark Mode

    [ STICKY DOWNLOAD BUTTON ]
    14. Sticky Button
    15. Button Hover
    16. Download Icon

======================================
    [ END CSS TABLE OF CONTENTS ]
======================================
*/

/*
======================================
    [ BASE STYLES START ]
======================================
*/

/* -------[ HEADER STYLES ]------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/curve-up.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 13px;
    mix-blend-mode: difference;
    letter-spacing: 0.15rem;
    font-weight: 100;
}

/* -------[ LOGO STYLES ]------- */
header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
}

header .logo img {
    height: 35px;
    mix-blend-mode: difference;
}

/* -------[ NAVIGATION STYLES ]------- */
header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    transition: color 0.4s, background-color 0.4s;
    mix-blend-mode: difference;
}

header nav ul li a:hover,
header nav ul li a.active {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    mix-blend-mode: normal;
}

/* -------[ RESPONSIVE STYLES ]------- */
@media (max-width: 1024px) {
    header {
        padding: 15px;
    }

    header .logo img {
        height: 35px;
    }

    header nav ul {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }

    header .logo img {
        height: 30px;
    }

    header nav ul {
        gap: 15px;
    }

    form {
        margin: 20px;
        padding: 20px;
        max-width: 100%;
    }
}

/* -------[ RESUME STYLES ]------- */
.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.resume {
    max-width: 1150px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
}

.card {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.265);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deepens the shadow */
}

.card-header {
    display: flex;
    flex-direction: column;
}

.header-top {
    margin-bottom: 8px;
}

.title {
    font-size: 14px;
    color: #575757;
    margin-bottom: 6px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
    letter-spacing: 0.15rem;
}

.contact-info {
    font-size: 14px;
}

.contact-info a {
    color: #005FA1;
    text-decoration: none;
    font-weight: 500;
    margin-left: 8px;
}

.contact-info a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
    color: #000000;
    border-bottom: 2px solid #005FA1;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

h3 {
    display: block;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
    line-height: 1.6;
    font-size: 14px;
    color: #000000;
}

.project-summary {
    list-style: disc;
    padding-left: 20px;
}

.project-link {
    color: #005FA1;
    text-decoration: none;
    font-weight: 500;
}

.project-link:hover {
    text-decoration: underline;
}

.github-icon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.github-icon:hover {    
    opacity: 0.7;
}

/* -------[ TOOL GRID STYLES ]------- */
.tool-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.tool-grid div {
    background: #b0b0b050;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    color: #000000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.tool-grid div:hover {
    background-color: #a0a0a072;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.156);
    transform: scale(1.03);
}

/* -------[ ACADEMIC TABLE STYLES ]------- */
.academic table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
}

.academic th, .academic td {
    border: 1px solid #B0B0B0;
    text-align: center;
    padding: 6px;
}

.academic th {
    background-color: #F4F4F4;
    color: #000000;
    font-size: 16px;
}

.academic td {
    color: #575757;
    font-size: 14px;
}

/* -------[ SELECTION STYLE ]------- */
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

/* -------[ SCROLLBAR STYLES ]------- */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
    -ms-overflow-style: none;
}

/* -------[ DARK MODE STYLES ]------- */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #e0e0e0;
        --selection-background: #575757;
        --selection-color: #fff;
        --scrollbar-track-color: #222;
        --scrollbar-thumb-color: #444;
        --scrollbar-thumb-hover-color: #666;
    }
}

/* -------[ STYLE FOR THE STICKY DOWNLOAD BUTTON ]------- */
.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

/* -------[ STYLE FOR THE BUTTON WHEN HOVERED OVER ]------- */
.sticky-button:hover {
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

/* -------[ STYLE FOR THE DOWNLOAD ICON ]------- */
.download-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

/*
======================================
    [ BASE STYLES END ]
======================================
*/