/* -------[ GIT CARD START ]------- */
.card-git .card-front {
    background-color: #f14e32;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}

.card-git .logo-git {
    width: 120px;
    height: auto;
}

.card-git .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.card-git .card-tagline {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #005FA1;
}

.card-git .learning-progress {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.card-git .learning-progress-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-git .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-git .star {
    font-size: 20px;
    color: #005FA1;
    margin-right: 3px;
}

.card-git .star.empty {
    color: #ffffff;
}

.card-git .star.half {
    position: relative;
    color: #fff;
}

.card-git .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    color: #005FA1;
    width: 50%;
    overflow: hidden;
}

/* -------[ GIT BACK SIDE ]------- */
.card-git .card-back {
    background-color: #fff;
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    text-align: left;
    max-height: 100%;
}

.card-git .card-description {
    margin-bottom: 10px;
}

.card-git .key-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.card-git .key-services h4 {
    grid-column: span 2;
    margin-bottom: 10px;
    color: #005FA1;
    font-size: 16px;
}

.card-git .service-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-git .service-item img {
    width: 20px;
    margin-right: 8px;
}

.card-git .use-cases {
    margin-bottom: 10px;
}

.card-git .resources a {
    color: #005FA1;
    text-decoration: none;
    font-weight: bold;
}

/* -------[ GIT CARD END ]------- */