/* -------[ GITHUB CARD START ]------- */
.card-github .card-front {
    background-color: #24292e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px; /* Same alignment as Card 1 */
}

.card-github .logo-github {
    width: 120px; /* Adjusted to match Card 1 */
    height: auto;
}

.card-github .card-title {
    font-size: 28px; /* Adjusted to match Card 1 */
    font-weight: bold;
    margin-top: 15px;
}

.card-github .card-tagline {
    font-size: 18px; /* Adjusted to match Card 1 */
    margin-top: 10px;
    margin-bottom: 20px;
    color: #2dba4e;
}

.card-github .learning-progress {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.card-github .learning-progress-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-github .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-github .star {
    font-size: 20px;
    color: #2dba4e;
    margin-right: 3px;
}

.card-github .star.empty {
    color: #ffffff;
}

.card-github .star.half {
    position: relative;
    color: #fff;
}

.card-github .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    color: #2dba4e;
    width: 50%;
    overflow: hidden;
}

/* -------[ GITHUB BACK SIDE ]------- */
.card-github .card-back {
    background-color: #ffffff;
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto; /* Ensure scroll bars appear if content exceeds size */
    text-align: left;
    max-height: 100%; /* Ensure that the content doesn't exceed the card height */
}

.card-github .card-description {
    margin-bottom: 10px;
}

.card-github .key-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.card-github .key-services h4 {
    grid-column: span 2;
    margin-bottom: 10px;
    color: #2dba4e;
    font-size: 16px;
}

.card-github .service-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-github .service-item img {
    width: 20px;
    margin-right: 8px;
}

.card-github .use-cases {
    margin-bottom: 10px;
}

.card-github .resources a {
    color: #2dba4e;
    text-decoration: none;
    font-weight: bold;
}

/* -------[ GITHUB CARD END ]------- */