/* -------[ JENKINS CARD START ]------- */
.card-jenkins .card-front {
    background-color: #335061;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}

.card-jenkins .jenkins-logo {
    width: 105px;
    height: auto;
}

.card-jenkins .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.card-jenkins .card-tagline {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ff0000;
}

.card-jenkins .learning-progress {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.card-jenkins .learning-progress-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-jenkins .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-jenkins .star {
    font-size: 20px;
    color: #ff0000;
    margin-right: 3px;
}

.card-jenkins .star.empty {
    color: #ffffff;
}

.card-jenkins .star.half {
    position: relative;
    color: #fff;
}

.card-jenkins .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    color: #ff0000;
    width: 50%;
    overflow: hidden;
}

/* -------[ JENKINS BACK SIDE ]------- */
.card-jenkins .card-back {
    background-color: #f0d6b7;
    color: #335061;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    text-align: left;
    max-height: 100%;
}

.card-jenkins .card-description {
    margin-bottom: 10px;
}

.card-jenkins .key-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.card-jenkins .key-services h4 {
    grid-column: span 2;
    margin-bottom: 10px;
    color: #ff0000;
    font-size: 16px;
}

.card-jenkins .service-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-jenkins .service-item img {
    width: 20px;
    margin-right: 8px;
}

.card-jenkins .use-cases {
    margin-bottom: 10px;
}

.card-jenkins .resources a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

/* -------[ JENKINS CARD END ]------- */