/* -------[ KUBERNETES CARD STYLES START ]------- */
.card-k8s .card-front {
    background-color: #3970e4; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}

.card-k8s .k8s-logo {
    width: 120px;
    height: auto;
}

.card-k8s .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.card-k8s .card-tagline {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #0c0c0c;
}

.card-k8s .learning-progress {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.card-k8s .learning-progress-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-k8s .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-k8s .star {
    font-size: 20px;
    color: #0c0c0c;
    margin-right: 3px;
}

.card-k8s .star.empty {
    color: #ffffff;
}

.card-k8s .star.half {
    position: relative;
    color: #ffffff;
}

.card-k8s .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    color: #0c0c0c;
    width: 50%;
    overflow: hidden;
}

/* -------[ BACK SIDE STYLES FOR KUBERNETES CARD START ]------- */
.card-k8s .card-back {
    background-color: #9db8e9;
    color: #0c0c0c;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    text-align: left;
    max-height: 100%;
}

.card-k8s .card-description {
    margin-bottom: 10px;
}

.card-k8s .key-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.card-k8s .key-services h4 {
    grid-column: span 2;
    margin-bottom: 10px;
    color: #0f3074; 
    font-size: 16px;
}

.card-k8s .service-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-k8s .service-item img {
    width: 20px;
    margin-right: 8px;
}

.card-k8s .use-cases {
    margin-bottom: 10px;
}

.card-k8s .resources a {
    color: #0f3074;
    text-decoration: none;
    font-weight: bold;
}

/* -------[ KUBERNETES CARD STYLES END ]------- */