/* -------[ TERRAFORM CARD STYLES START ]------- */
.card-terraform .card-front {
    background: linear-gradient(47deg, #63D0FF, #657FF4, #8040C9);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}

.card-terraform .terraform-logo {
    width: 120px;
    height: auto;
}

.card-terraform .card-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.card-terraform .card-tagline {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #7b42bc;
}

.card-terraform .learning-progress {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.card-terraform .learning-progress-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-terraform .star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-terraform .star {
    font-size: 20px;
    color: #7b42bc;
    margin-right: 3px;
}

.card-terraform .star.empty {
    color: #ffffff;
}

.card-terraform .star.half {
    position: relative;
    color: #7b42bc;
}

.card-terraform .star.half::before {
    content: "★";
    position: absolute;
    left: 0;
    color: #ffffff;
    width: 50%;
    overflow: hidden;
}

/* -------[ BACK SIDE STYLES FOR TERRAFORM CARD START ]------- */
.card-terraform .card-back {
    background-color: #ffffff;
    color: #333;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    text-align: left;
    max-height: 100%;
}

.card-terraform .card-description {
    margin-bottom: 10px;
}

.card-terraform .key-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.card-terraform .key-services h4 {
    grid-column: span 2;
    margin-bottom: 10px;
    color: #7b42bc;
    font-size: 16px;
}

.card-terraform .service-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-terraform .service-item img {
    width: 20px;
    margin-right: 8px;
}

.card-terraform .use-cases {
    margin-bottom: 10px;
}

.card-terraform .resources a {
    color: #7b42bc;
    text-decoration: none;
    font-weight: bold;
}

/* -------[ TERRAFORM CARD STYLES END ]------- */